<h1>AboutUs#about_us</h1>
<p>Find me in app/views/about_us/about_us.html.erb</p>
<%= link_to('Demo Index', {:controller => 'demo', :action => 'index'}) %> <br />
<%= link_to('Hello', {:controller => 'demo', :action => 'index'}) %> <br />
