<div class="col-xs-6 col-sm-4">
  <nav>
    <ul class="pager">
      <li><%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %></li>
    </ul>
  </nav>
  <h2>Create User</h2>

  <%= form_for(:users, :url => {:action => 'create'}) do |f| %>

      <%= render(:partial => "users/form", :locals =>  {:f => f}) %>
      <div class="form-buttons">
        <%= submit_tag("Create User", :class => "btn btn-success") %>
      </div>

  <% end %>
</div>