<nav>
  <ul class="pager">
    <li><%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %></li>
  </ul>
</nav>


<div class="subjects edit">
  <h2>Update Subject</h2>

  <%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %>

      <%= render(:partial => "subjects/form", :locals =>  {:f => f}) %>

      <div class="form-group">
        <%= submit_tag("Update Subject", :class => "btn btn-success") %>
      </div>

  <% end %>
</div>
